.hero {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-text {
  width: 100%;
}

.gradient-text {
  position: relative;
}

.gradient-text::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  z-index: -1;

  content: " ";
  background: linear-gradient(
    90deg,
    #66bbfc 0%,
    #418ef4 23%,
    #4606ec 49%,
    #7b3df0 74%,
    #ab89f9 100%
  );

  opacity: 30%;
  filter: blur(24px);

  width: 100%;
  height: 100%;
}

.hero-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.01em;

  margin-bottom: 24px;
}

.hero-text p {
  font-size: 18px;
  line-height: 150%;

  margin-bottom: 40px;
}

.hero-text-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.hero-text-buttons a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-text-buttons a span {
  display: flex;
  align-items: center;

  gap: 12px;
}

.hero-text-buttons a img {
  width: 20px;
  height: 20px;
}

.hero-image {
  position: relative;

  flex: 0 0 100%;

  transform: scale(0.5);
  transform-origin: right bottom;
}

.hero-image h3 {
  font-size: 16px;
  font-weight: 600;

  color: var(--header-black-color);
}

.hero-image p {
  font-size: 12px;
  font-weight: 500;

  color: var(--subtitle-color);
}

.hero-image__img {
  aspect-ratio: 1/1;
}

.hero-image-physicians {
  position: absolute;
  top: 15.16%;
  right: 10.23%;
  z-index: 1;

  display: flex;
  gap: 14px;

  padding: 16px 19px 16px 12px;

  border-radius: 8px;

  background: var(--white-color);
}

.hero-image-physicians img {
  width: 40px;
  height: 40px;
}

.hero-image-ethical {
  position: absolute;
  left: 11.16%;
  bottom: 15.16%;
  z-index: 1;

  display: flex;
  gap: 14px;

  padding: 16px 22px 16px 12px;

  border-radius: 8px;

  background: var(--white-color);
}

.hero-image-ethical img {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 375px) {

}

@media screen and (min-width: 768px) {
.hero-image h3 {
  font-size: 48px;
}

.hero-image p {
  font-size: 36px;
}

.hero-image-physicians {
  padding: 16px 19px 16px 12px;

}

.hero-image-physicians img {
  width: 120px;
  height: 120px;
}

.hero-image-ethical {
  padding: 16px 22px 16px 12px;
}

.hero-image-ethical img {
  width: 120px;
  height: 120px;
}

}

@media screen and (min-width: 1280px) {
  .hero-text {
    max-width: 740px;
  }

  .hero-text h1 {
    font-size: 59px;
    line-height: 72px;
    letter-spacing: -0.01em;

    margin-bottom: 24px;
  }

  .hero-text p {
    font-size: 20px;
    line-height: 30px;

    margin-bottom: 48px;
  }

  .hero-text-buttons a {
    width: fit-content;
  }

  .hero-image {
    flex: 0 0 33.59%;
  }

  .hero-image h3 {
    font-size: 20px;
  }

  .hero-image p {
    font-size: 15px;
  }

  .hero-image-physicians {
    padding: 16px 24px;
  }

  .hero-image-physicians img {
    width: 50px;
    height: 50px;
  }

  .hero-image-ethical {
    padding: 16px 28px;
  }

  .hero-image-ethical img {
    width: 50px;
    height: 50px;
  }

}
